:root{
    --grisFondo: #3F3F3F;
    --blancoLetra: #E7E7E7;
    --lilaLogo: #7A63FF;
}

.marginRight0px{
    margin-right: 0px;
}

.paddingRight{
    padding-right: 140px;
}

.headerNavigation{
    background-color: var(--grisFondo);
}

.itemsMenu{
    color: var(--blancoLetra);
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 300;
    /*font-size: 20px;*/
}

.contenedorImagen{
    position: relative;
/*    display: inline-block;*/
    text-align: left;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.imgInicio{
    width: 100%;
    height: auto;
    margin-top: 88px;
}

.logoCabecera{
    max-width: 100px;
    width: 100%;
    height: auto;
    margin-left: 80px;
}

.descrip-inicio{
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: var(--blancoLetra);
}

.containertituloNosotros{
    margin-top: 25px;
    justify-content: center;
    text-align: center;
}

.tituloNosotros{
    font-size: 40px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: var(--lilaLogo);
}

.containerCuerpo{
    justify-content: left;
    text-align: left;
    align-items: center;
    
}

.textoCuerpo, .textoCuerpo2 {
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: var(--lilaLogo);
    line-height: 40px;
}

.textoCuerpo2{
    font-weight: 400;
}



.containerImgBuild{
    
}

.imgBuildSW{
    margin-left: 150px;
    max-width: 500px;
    width: 100%;
    height: auto;
}