:root{
    --grisFondo: #3F3F3F;
    --blancoLetra: #E7E7E7;
    --lilaLogo: #7A63FF;
}

.marginRight0px{
    margin-right: 0px;
}

.paddingRight{
    padding-right: 140px;
}

.headerNavigation{
    background-color: var(--grisFondo);
}

.itemsMenu{
    color: var(--blancoLetra);
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 300;
    /*font-size: 20px;*/
}

.contenedorImagen{
    position: relative;
/*    display: inline-block;*/
    text-align: left;
    margin-top: 88px;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 5%;
    /*transform: translate(-50%, -50%);*/
}

.imgInicio{
    width: 100%;
    height: auto;
    
}


a.myanchor:before {       
    display: block;       
    content: " ";       
    margin-top: -88px;       
    height: 60px;       
    visibility: hidden; }

.logoCabecera{
    max-width: 100px;
    width: 100%;
    height: auto;
    margin-left: 80px;
}

.descrip-inicio{
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: var(--blancoLetra);
}

.containertituloNosotros{
    margin-top: 25px;
    justify-content: center;
    text-align: center;
}

.tituloNosotros, .tituloServicios{
    font-size: 40px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: var(--lilaLogo);
    margin-top: 55px;
}

.tituloServicios{
    color: var(--blancoLetra);
}

.containerCuerpo{
    justify-content: left;
    text-align: left;
    align-items: center;
    
}

.textoCuerpo, .textoCuerpo2, .textoCuerpoServicios, .textoCuerpoServicios2 {
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: var(--lilaLogo);
    line-height: 40px;
}

.textoCuerpoServicios, .textoCuerpoServicios2{
    color: var(--blancoLetra);
}

.textoCuerpo2, .textoCuerpoServicios2{
    font-weight: 400;
}

.containerImgBuild, .containerImgBuildFooter{
    display:flex;
    justify-content: center;
    align-items: center;
}

.imgBuildSW{
    /*margin-left: 150px;*/
    max-width: 500px;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.container-violet{
    background-color: var(--lilaLogo);
}

.container-gray{
    background-color: var(--grisFondo);
    padding-top: 20px;
    padding-bottom: 10px;
}

.logoFooter{
    width: 130px;
    margin-left: 30px;
}

.derechosReservados{
    text-decoration: none;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: var(--blancoLetra);
    line-height: 40px;
    margin-bottom: 0px;
}

.iconoFooter{
    max-width: 20px;
    width: 100%;
    height: auto;
    margin-left: 10px;
}




@media (max-width: 600px) {
    .logoCabecera{
        width: 70px;
        margin-left: 30px;
    }

    .descrip-inicio{
        font-size: 12px;
    }

    .contenedorImagen{
        margin-top: 70px;
    }

    a.myanchor:before {
        display: block;
        content: " ";
        margin-top: -70px;
        height: 42px;
        visibility: hidden;
    }

    .tituloNosotros, .tituloServicios{
        font-size: 20px;
    }

    .imgBuildSW {
        max-width: 200px;
        width: 100%;
        height: auto;
    }

    .textoCuerpo, .textoCuerpo2, .textoCuerpoServicios, .textoCuerpoServicios2{
        font-size: 14px;
        line-height: 20px;
    }

    .containerLogoFooter{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    .logoFooter{
        width: 70px;
        margin-left: 0px;

    }

    .containerImgBuildFooter{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .derechosReservados{
        text-align: center
    }

    
    

  }


