:root{
    --grisFondo: #3f3f3f;
    --grisClaro: #E9ECF0;
    --blancoLetra: #E7E7E7;
    --lilaLogo: #7A63FF;
    --lilaFocus: #9380fa;
}

.marginRight0px{
    margin-right: 0px;
}

.paddingLeft{
    padding-left: 140px;
}

.headerNavigation{
    background-color: var(--grisFondo);
}

.itemsMenu{
    color: var(--blancoLetra);
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 300;
}

.contenedorImagen{
    position: relative;
    text-align: left;
    margin-top: 88px;
}

.centrado{
    position: absolute;
    top: 20%;
    left: 5%;
}

.imgInicio{
    width: 100%;
    height: auto;
}

a.myanchor:before {
    display: block;
    content: " ";
    margin-top: -88px;
    height: 60px;
    visibility: hidden;
}

.anchorContacto{
    display: block;
    content: " ";
    height: 60px;
    visibility: hidden;
}

.logoCabecera{
    max-width: 100px;
    width: 100%;
    height: auto;
    margin-left: 80px;
}

.descrip-inicio{
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: var(--blancoLetra);
}

.containertituloNosotros{
    margin-top: 25px;
    margin-left: 80px;
    justify-content: left;
    text-align: left;
}

.tituloLila, .tituloServicios{
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: var(--lilaLogo);
    margin-top: 55px;
}

.tituloServicios{
    color: var(--blancoLetra);
    margin-top: 15px;
}

.margintop30{
    margin-top: 20px;
}



.containerCuerpo, .containerImagenesServicios{
    justify-content: left;
    text-align: left;
    align-items: center;
}

.containerImagenesServicios{
    justify-content: center;
    text-align: center;
    align-items: center;
}

.containerHeaderNav{
    justify-content: right;
    text-align: right;
    align-items: flex-end;
}

.textoCuerpo, .textoCuerpo2, .textoCuerpoServicios {
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: var(--lilaLogo);
    line-height: 40px;
    margin-left: 25px;
}

.textoCuerpoServicios{
    color: var(--blancoLetra);
    font-size: 18px;
}

.textoCuerpo2{
    font-weight: 400;
}

.containerImgBuild, .containerImgBuildFooter{
    display:flex;
    justify-content: center;
    align-items: center;
}

.imgBuildSW{
    max-width: 500px;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.container-violet{
    background-color: var(--lilaLogo);
    padding-bottom: 35px;
}


.container-lightGray{
   background-color: var(--grisClaro);
}

.containerContacto{
    margin-top: 80px;
    padding-bottom: 80px;
}

.containerEnviar{
    text-align: right;
}

.campos {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--lilaLogo);
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10%;
    color: var(--lilaLogo);
}

.campos::placeholder{
    font-size: 18PX;
    font-family: 'Montserrat';
    font-weight: 400;
    color: var(--lilaFocus);
}

.campos:focus{
    outline: none;
}

.btn-enviar{
    width: 150px;
    height: 50px;
    background-color: var(--lilaLogo);
    border: var(--lilaLogo);
    color: var(--blancoLetra);
}

.btn-enviar:hover{
    background-color: var(--lilaFocus);
    color: var(--blancoLetra);
}




.container-gray{
    background-color: var(--grisFondo);
    padding-top: 20px;
    padding-bottom: 10px;
}

.logoFooter{
    width: 130px;
    margin-left: 30px;
}

.derechosReservados, .datosContacto, .navegacionFooter{
    text-decoration: none;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: var(--blancoLetra);
    line-height: 40px;
    margin-bottom: 0px;
}

.iconoFooter{
    max-width: 20px;
    width: 100%;
    height: auto;
    margin-left: 10px;
}




@media (max-width: 600px) {
    .logoCabecera{
        width: 70px;
        margin-left: 30px;
    }

    .descrip-inicio{
        font-size: 12px;
    }

    .contenedorImagen{
        margin-top: 70px;
    }

    a.myanchor:before {
        display: block;
        content: " ";
        margin-top: -70px;
        height: 42px;
        visibility: hidden;
    }

    .tituloLila, .tituloServicios{
        font-size: 20px;
    }

    .imgBuildSW {
        max-width: 200px;
        width: 100%;
        height: auto;
    }

    .textoCuerpo, .textoCuerpo2, .textoCuerpoServicios{
        font-size: 14px;
        line-height: 20px;
    }

    .containerLogoFooter{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    .logoFooter{
        width: 70px;
        margin-left: 0px;

    }

    .containerImgBuildFooter{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .derechosReservados, .datosContacto, .navegacionFooter{
        text-align: center
    }

    .derechosReservados{
        font-size: 10px;
    }

    .containerEnviar{
        text-align: center;
    }

    .paddingLeft{
        padding-left: 0px;
    }
    

}


